<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <title>Welcome page</title>
  </head>
  <body>
    <div id="header">
        <a href='#'><img class="toprightpic" src="welcome_page_images/профиль.png" height="40px" /></a>
        <a href='#'><img class="toprightpic" src="welcome_page_images/настройки.png" height="40px" /></a>
        <a href='#'><img class="toprightpic" src="welcome_page_images/почта.png" height="40px" /></a>
        <a href='#'><img class="toprightpic" src="welcome_page_images/корзина.png" height="40px" /></a>
        <a href='#'><img class="toprightpic" src="welcome_page_images/сердечко.png" height="40px" /></a>
        <ul class="nav">
            <li><a href="#footer">О сайте</a></li>
            <li><a href="#rodents">Грызуны</a></li>
            <li><a href="#birds">Птицы</a></li>
            <li><a href="#dogs">Собаки</a></li>
            <li><a href="#cats">Кошки</a></li>
        </ul>
        <!-- <a href='#'><img class="магазин" src="welcome_page_images/магазин.png" height="38px" /></a> -->
        <h1>Zoomagazin.ru</h1>     
    </div>

	<div id="main">
        <h3 id="cats">Кошки</h3>
        <ul class="products">
            {% for item in items %}
            <li>
                <div class="card">
                    <img src="{{ url_for('static', path='images/1.png') }}" alt="корм" style="width:100%">
                    <h4>{{ item.name }}</h4>
                    <p class="price">{{ item.price }} руб/кг</p>
                    {% if item.sale %}
                    <p class="sale">{{ item.sale }} %</p>                    
                    {% endif %}
                    <p><button>Добавить в корзину</button></p>
                  </div>
            </li>
            {% endfor %}
        </ul>
        
        <h3 id="dogs" class="pets">Собаки</h3>
        <ul class="products">
            <li>
                <div class="card">
                    <img src="welcome_page_images/собаки/корм.jpg" alt="корм" style="width:100%">
                    <h4>Корм</h4>
                    <p class="price">900 руб/кг</p>
                    <p><button>Добавить в корзину</button></p>
                  </div>
            </li>
            <li>
                <div class="card">
                    <img src="welcome_page_images/собаки/миски.png" alt="миски" style="width:100%">
                    <h4>Миски</h4>
                    <p class="price">1200 руб</p>
                   
                    <p><button>Добавить в корзину</button></p>
                  </div>
            </li>
            <li>
                <div class="card">
                    <img src="welcome_page_images/собаки/игрушки.png" alt="игрушки" style="width:100%">
                    <h4>Игрушка</h4>
                    <p class="price">800 руб</p>
                   
                    <p><button>Добавить в корзину</button></p>
                  </div>
            </li>
        </ul>

        <h3 id="birds" class="pets">Птицы</h3>
        <ul class="products">
            <li>
                <div class="card">
                    <img src="welcome_page_images/птицы/корм.jpg" alt="корм" style="width:100%">
                    <h4>Корм</h4>
                    <p class="price">500 руб/кг</p>
                    <p><button>Добавить в корзину</button></p>
                  </div>
            </li>
            <li>
                <div class="card">
                    <img src="welcome_page_images/птицы/миска.jpg" alt="миска" style="width:100%">
                    <h4>Миска</h4>
                    <p class="price">400 руб</p>
                   
                    <p><button>Добавить в корзину</button></p>
                  </div>
            </li>
            <li>
                <div class="card">
                    <img src="welcome_page_images/птицы/игрушка.jpg" alt="игрушки" style="width:100%">
                    <h4>Игрушка</h4>
                    <p class="price">300 руб</p>
                   
                    <p><button>Добавить в корзину</button></p>
                  </div>
            </li>
        </ul>

        <h3 id="rodents" class="pets">Грызуны</h3>
        <ul class="products">
            <li>
                <div class="card">
                    <img src="welcome_page_images/грызуны/корм.png" alt="корм" style="width:100%">
                    <h4>Корм</h4>
                    <p class="price">400 руб/кг</p>
                    <p><button>Добавить в корзину</button></p>
                  </div>
            </li>
            <li>
                <div class="card">
                    <img src="welcome_page_images/грызуны/миска.jpg" alt="миска" style="width:100%">
                    <h4>Миска</h4>
                    <p class="price">300 руб</p>
                   
                    <p><button>Добавить в корзину</button></p>
                  </div>
            </li>
            <li>
                <div class="card">
                    <img src="welcome_page_images/грызуны/домик.jpg" alt="игрушки" style="width:100%">
                    <h4>Домик</h4>
                    <p class="price">600 руб</p>
                   
                    <p><button>Добавить в корзину</button></p>
                  </div>
            </li>
        </ul>


    </div>
	<div id="footer">
        <table>
            <tr>
              <td><h2>О сайте</h2></td>
              <td><h2>Контакты</h2></td>
              <td><h2>Мы в соцсетях</h2></td>
            </tr>
            <tr>
                <td alig>
                    <ul class="nav1">
                        <li><a href="#header">Главная</a></li>
                        <li><a href="#cats">Кошки</a></li>
                        <li><a href="#dogs">Собаки</a></li>
                        <li><a href="#birds">Птицы</a></li>
                        <li><a href="#rodents">Грызуны</a></li>
                    </ul>
                </td>
                <td>
                    <ul class="nav1">
                        <li><a>+7 *телефон*</a></li>
                    </ul>
                </td>
                <td>
                    <ul class="nav1">
                        <li><a href="http://vk.com">Vk</a></li>
                        <li><a href="http://instagram.com">Instagram</a></li>
                    </ul>
                </td>
            </tr>
        </table>

    </div>
  </body>
</html>