<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <title>Welcome page</title>
  </head>
  <body>
    <div id="header">
        <a href='#'><img class="toprightpic" src="{{ url_for('static', path='images/profile.png') }}" height="40px" /></a>
        <!-- <a href='#'><img class="toprightpic" src="{{ url_for('static', path='images/settings.png') }}" height="40px" /></a> -->
        <!-- <a href='#'><img class="toprightpic" src="welcome_page_images/почта.png" height="40px" /></a> -->
        <a href='#'><img class="toprightpic" src="{{ url_for('static', path='images/basket.png') }}" height="40px" /></a>
        <!-- <a href='#'><img class="toprightpic" src="welcome_page_images/сердечко.png" height="40px" /></a> -->
        <ul class="nav">
            <li><a href="#footer">О сайте</a></li>
            <li><a href="#rodents">Грызуны</a></li>
            <li><a href="#birds">Птицы</a></li>
            <li><a href="#dogs">Собаки</a></li>
            <li><a href="#cats">Кошки</a></li>
        </ul>
        <!-- <a href='#'><img class="магазин" src="welcome_page_images/магазин.png" height="38px" /></a> -->
        <h1>Zoomagazin.ru</h1>     
    </div>

	<div id="main">
        {% for pet in items %}
            {% if pet != "cats" %}
                <h3 id=pet class=pets>{{pet}}</h3>
            {% else %}
                <h3 id=pet>{{pet}}</h3>
            {% endif %}
            <ul class="products">
                {% for item in items[pet] %}
                <li>
                    <div class="card">
                        <img src="{{ url_for('static', path=item.picture) }}" alt={{item.name}} style="width:100%">
                        <h4>{{ item.name }}</h4>
                        {% if item.sale == 0 %}
                            {% if item.volume == 0 %}
                            <p class="price">{{ item.price }} руб</p>
                            <p class="price"> ᅠ </p>
                            {% else %}
                            <p class="price">{{ item.price }} руб/{{ item.volume }} г</p>
                            <p class="price"> ᅠ </p>
                            {% endif %}
                        {% else %}
                            {% if item.volume == 0 %}
                            <p class="price"><s>{{ item.price }} руб</s> ᅠ {{ item.sale }} %</p>
                            <p class="price">{{item.price * (1 - item.sale/100)}} руб</p>
                            {% else %}
                            <p class="price"><s>{{ item.price }} руб</s> ᅠ {{ item.sale }} %</p>
                            <p class="price">{{item.price * (1 - item.sale/100)}} руб/{{ item.volume }} г</p>
                            {% endif %}
                        {% endif %}
                        <p><button>Добавить в корзину</button></p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% endfor %}
        

    </div>
	<div id="footer">
        <table>
            <tr>
              <td><h2>О сайте</h2></td>
              <td><h2>Контакты</h2></td>
              <td><h2>Мы в соцсетях</h2></td>
            </tr>
            <tr>
                <td alig>
                    <ul class="nav1">
                        <li><a href="#header">Главная</a></li>
                        <li><a href="#cats">Кошки</a></li>
                        <li><a href="#dogs">Собаки</a></li>
                        <li><a href="#birds">Птицы</a></li>
                        <li><a href="#rodents">Грызуны</a></li>
                    </ul>
                </td>
                <td>
                    <ul class="nav1">
                        <li><a>+71234567</a></li>
                        <li><a>pochta1@mail.ru</a></li>
                        <li><a>pochta2@gmail.com</a></li>
                    </ul>
                </td>
                <td>
                    <ul class="nav1">
                        <li><a href="http://vk.com">Vk</a></li>
                        <li><a href="http://instagram.com">Instagram</a></li>
                    </ul>
                </td>
            </tr>
        </table>

    </div>
  </body>
</html>